{# todo replace text with product's datas #}

<div class="card product-card">
    <img src="https://via.placeholder.com/300.png'" class="card-img-top" alt="Nom produit">
    <div class="card-body">
        <h5 class="card-title">Nom produit</h5>
        <p class="card-text">Description produit</p>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <p class="card-text">19.99 €</p>
        <a href="#" class="btn btn-dark">{{ 'product_card.details' | trans }}</a>
    </div>
</div>