{# todo replace text with review's datas #}

<div class="card review-card">
    <div class="card-body">
        <h5 class="card-title">{{ 'review_card.author' | trans({'%author%' : 'Paul DUPONT'}) }}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, delectus molestiae nisi quisquam quod saepe? Dicta esse fuga hic.</p>
    </div>
    <div class="card-footer d-flex">
        {{ 'review_card.note' | trans({'%note%' : 3}) }}
    </div>
</div>