<div class="sidebar bg-dark">
    <ul>
        <li class="sidebar-item mb-3"><a href="#" class="text-white">{{ 'sidebar.link.users'| trans }}</a></li>
        <li class="sidebar-item mb-3"><a href="#" class="text-white">{{ 'sidebar.link.categories'| trans }}</a></li>
        <li class="sidebar-item mb-3"><a href="#" class="text-white">{{ 'sidebar.link.products'| trans }}</a></li>
        <li class="sidebar-item mb-3"><a href="#" class="text-white">{{ 'sidebar.link.back_to_site'| trans }}</a></li>
    </ul>
</div>